.Description{
    width: 12rem;
    height: 3rem;
    background-color: bisque;
    cursor: pointer;
}

.Like-button{
    border: solid 2px black;
    width: fit-content;
    background-color: cornflowerblue;
}

.image {
    width: 14rem;
    float: right;
    clear: left;
}
  
.Image-border{
    width: 14rem;
    height: auto;
}