.App {
  text-align: center;
  background-color: brown;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.Gallery {
  margin: auto;
  background-color: cornflowerblue;
}

.App-photo {
  margin: 2.5%;

  float: right;
  width: 14rem;
}

.image {
  width: 14rem;

}