.App {
  text-align: center;
  background-color: brown;
}

.App-title {
  font-size: 1.5em;
}


.Gallery:hover {
  border: 1px solid #777;
}

.App-photo {
  margin: 2.5%;

  float: right;
  width: 14rem;
}

.image {
  width: 14rem;
  /* height: auto; */
}

.Image-border{
  width: 14rem;
  height: auto    ;
}