.Description{
    width: 18rem;
    height: 11rem;
    background-color: bisque;
    cursor: pointer;
}

/* .Like-button{
    border: solid 2px black;
    width: fit-content;
    background-color: cornflowerblue;
}

.App-photo {
    margin: 0.5%;
    background-color: cornflowerblue;
    border: groove 5px crimson;
    border-style: groove;
    float: right;
    align-items:center;
    width: 18rem;
}

  .App-photo:hover{
    cursor: pointer;
    background-color: rgba(62, 103, 179, 0.493);
    border: groove 5px rgba(182, 32, 62, 0.671);

  } */